.btn {
    padding: 10px;
    min-width: 100px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    background-color: steelblue;
    color: whitesmoke;
}

.btn:disabled {
    opacity: 0.7;
}

.counter-output {
    margin: 0 40px;
    font-size: 25px;
    font-weight: bold;
    min-width: 140px;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.history-title {
    font-weight: bold;
}

.history-container .history-logs {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    /* justify-content: center; */
    list-style: none;
    height: 385px;
    border: 1px solid gray;
    overflow-y: auto;
    margin: 0 auto;
    width: 800px;
    /* background-color: antiquewhite; */
}

.log-element {
    width: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    color: whitesmoke;
    background-color: steelblue;
}

.log-element .change {
    font-weight: bold;
    margin: 0 20px;
}
